@use '../abstracts/variables' as *;

h1 {
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: $color-logo;
}

h2 {
  font-size: 18px;
  letter-spacing: 0.03em;
  color: $color-logo;
  text-align: center;
}

h3 {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $color-logo;
  text-align: center;
}

h4 {
  font-size: 17px;
  letter-spacing: 0.03em;
  text-transform: none;
  color: $color-logo;
}

p {
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 0.05em;
}
