// Fonts
$font-main: 'Libre Baskerville', serif;
$font-additional: 'Caveat', serif;

// Colors
$color-background: #71a7f3;
$color-text: #242f47;

// Padding
$padding-wrapper: 0 20px;

//Transition
$transition: 0.5s ease-out;
