// Fonts
$font-main: 'Libre Baskerville', serif;

// Colors
$color-background-light: #f7b680;
$color-body-background-light: #efe5dd;
$color-header-btn-light: #5d0606;
$color-header-btn-light-click: #240202;
$color-border-light: #8d1d06;
$color-text: #242f47;
$color-level-card-bk-light: #fed4b1;

// Padding
$padding-wrapper: 10px 20px;
$padding-wrapper-small: 10px 5px;

//Transition
$transition: 0.5s ease-out;
