@use '../abstracts/variables' as *;

.btn {
  border-radius: 6px;
  padding: 5px 16px;
  border: none;
  cursor: pointer;
  transition: all $transition;

  &:hover {
    //color: $color-btn-hover;
    //background-color: $color-btn-bg-hover;
  }
  &:active {
    //color: $color-btn-click;
    //background-color: $color-btn-bg-click;
  }
}

.header-btn {
  padding: 0;
  color: $color-header-btn-light;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  &.active {
    border-bottom: 2px solid $color-header-btn-light;
  }
  &:hover {
    border-bottom: 2px solid $color-header-btn-light;
  }
  &:active {
    color: $color-header-btn-light-click;
    border-bottom: 2px solid $color-header-btn-light-click;
  }
}
