@use '../abstracts/variables' as *;

.btn {
  border-radius: 6px;
  padding: 5px 16px;
  border: none;
  cursor: pointer;
  transition: all $transition;
}

.nav-btn {
  padding: 0;
  color: $color-nav-btn-light;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  &.active {
    border-bottom: 2px solid $color-nav-btn-light;
  }
  &:hover {
    // для декстопа будет ховер для мобилбного устройства нет
    @media (hover: hover) {
      border-bottom: 2px solid $color-nav-btn-light;
    }
  }
  &:active {
    color: $color-nav-btn-light-click;
    border-bottom: 2px solid $color-nav-btn-light-click;
  }
}

.play-btn {
  width: 195px;
  background-color: $color-level-card-bk-light;
  &:hover {
    // для декстопа будет ховер для мобилбного устройства нет
    @media (hover: hover) {
      background-color: $color-background-light;
    }
  }
  &:active {
    color: $color-nav-btn-light;
    background-color: $color-background-light;
  }
}

.header-btns {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn-sound {
  background-image: url(/audio.svg);
  &.mute {
    background-image: url(/mute.svg);
  }
}

.btn-theme {
  background-image: url(/sun.svg);
  &.dark {
    background-image: url(/moon.svg);
  }
}

@media (width < 450px) {
  .header-btns {
    width: 22px;
    height: 22px;
  }
}
