.play-field {
  width: 100%;
  max-width: 500px;
  margin: 25px auto;
}

.top-prompt {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-weight: 700;
  min-height: 60px;
  color: black;

  &.hight-hint__cell-border__start-cell {
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
  }

  &.hight-hint__cell-border__medium-cell {
    border-left: 2px solid black;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
  }

  &.hight-hint__cell-border__medium-cell:nth-child(5n + 6) {
    border-left: 1px solid black;
  }

  &.hight-hint__cell-border__end-cell {
    border-right: 2px solid black;
    border-top: 3px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }
}

.row-prompt {
  display: flex;
  justify-content: end;
  align-items: center;
  color: black;
  font-size: 16px;
  font-weight: 700;
  min-width: 60px;
  height: 40px;
  text-align: end;
  border: 1px solid black;
  padding-right: 4px;
  border-left: 3px solid black;
  border-right: none;
}

.row-border__top {
  border-top: 3px solid black;
}

.row-border__bottom {
  border-bottom: 3px solid black;
}

.row-border__top-none {
  border-top: none;
}

.row-top {
  display: flex;
  justify-content: end;
  border-right: 1px solid black;
}

.prompt {
  text-align: center;
}

.row-cells {
  display: flex;
  justify-content: end;
}

.cell {
  color: black;
  font-size: 0px;
  border: 1px solid black;
  user-select: none;
  cursor: pointer;

  &.fill {
    background-color: black;
  }

  &.cross {
    background-image: url(/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.row-border {
  border-top: 2px solid black;
}

.cell-border__left {
  border-left: 3px solid black;
}

.cell-border__right {
  border-right: 3px solid black;
}

.cell-border__top-none {
  border-top: none;
}

.cell-border__left-none {
  border-left: none;
}

.cell-border__bottom {
  border-bottom: 3px solid black;
}

.small-field {
  width: 271px;
  .top-prompt {
    font-size: 16px;
    width: 42px;
  }
  .row-prompt {
    font-size: 16px;
    height: 42px;
  }
  .cell {
    width: 42px;
    height: 42px;
  }
}

.medium-field {
  max-width: 412px;
  .top-prompt {
    font-size: 15px;
    width: 35px;
  }
  .row-prompt {
    font-size: 15px;
    height: 35px;
  }
  .cell {
    width: 35px;
    height: 35px;
  }
}

.big-field {
  width: 471px;
  .top-prompt {
    font-size: 13px;
    width: 26px;
    min-height: 80px;
  }
  .row-prompt {
    font-size: 13px;
    min-width: 80px;
    height: 26px;
  }
  .cell {
    width: 26px;
    height: 26px;
  }
}
