@use '../abstracts/variables' as *;

.header {
  width: 100%;
  background-color: $color-background-light;
  border-bottom: 3px solid $color-border-light;
}

.header-logo {
  text-align: center;
}

.btns-container__sound-theme {
  position: absolute;
  top: 12px;
  right: 3px;
  display: flex;
  gap: 10px;
}

@media (width < 450px) {
  .header-logo {
    font-size: 24px;
  }
  .btns-container__sound-theme {
    top: 13px;
    gap: 5px;
  }
}
