@use '../abstracts/variables' as *;

.header {
  width: 100%;
  background-color: $color-background-light;
  border-bottom: 3px solid $color-border-light;
}

.header-logo {
  text-align: center;
  margin-bottom: 10px;
}
