@use '../abstracts/variables' as *;

.main {
  width: 100%;
  min-height: calc(100vh - 113px);
}

.main-content {
  width: 100%;
}

@media (width < 530px) {
  .main {
    min-height: calc(100dvh - 113px);
  }
}
