@use '../abstracts/variables' as *;

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $padding-wrapper;
}

.header-wrapper {
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper {
  min-height: calc(100vh - 140px);
}

@media (width < 530px) {
  .main-wrapper {
    padding: $padding-wrapper-small;
  }
}
