@use '../abstracts/variables' as *;

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: $padding-wrapper;
}

.header-wrapper,
.footer-wrapper {
  justify-content: space-between;
}

.main-wrapper {
  justify-content: center;
  min-height: calc(100vh - 140px);
}
